body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: sans-serif;
  background-image: url('images/meme1.png'), url('images/meme2.png'), url('images/meme3.png');
  background-position: center center;
  background-repeat: repeat;
  margin-top: 12px;
  color: #eee;
}

canvas {
  border: 2px solid #0f9;
  background: #000;
  margin-top: 12px;
}

h1 {
  color: #0f9;
}

p {
  font-size: 1.2rem;
}

